<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.task.management.mapper.TaskMapper">

  <resultMap id="baseMap" type="jp.task.management.repository.dto.TaskListEntity">
    <id property="taskId" jdbcType="INTEGER" column="taskid" />
    <result property="title" jdbcType="VARCHAR" column="title" />
    <result property="createdAt" jdbcType="TIMESTAMP" column="created_at" />
    <result property="updatedAt" jdbcType="TIMESTAMP" column="updated_at" />
  </resultMap>

  <select id="fetchTask" resultMap="baseMap">
    SELECT
      *
    FROM
      TASKLIST
  </select>
  <!--
  <insert id="insertDocument" parameterType="mng.doc.dao.Document">
    INSERT INTO
    DOCUMENT
    (name, registrant, registration_time)
    VALUES
    (
    #{name},
    #{registrant},
    #{registrationtime}

    )
  </insert>
  <update id="updateDocument">
    UPDATE
    DOCUMENT
    SET
    editor = #{editor},
    edit_time = #{edittime}
    WHERE
    id = #{id}
  </update>

  <delete id="deleteDocument" parameterType="java.lang.Integer">
    DELETE
    FROM
    DOCUMENT
    WHERE
    id = #{id}
  </delete>
  -->
</mapper>